body {margin:0;display:block;font-weight: 700; font: 300 normal 15px/1.4 Raleway,sans-serif;  letter-spacing: .05em;}

header {display:block; background-color:#FEF3DC; overflow:hidden;}
.logo {float:left; height:100px; width:200px;}
.logo2 {float:right; height:100px; width:200px;}
.contactheader {float:right; text-transform: uppercase; margin-top:22px; padding-right:40px;}
.contactnumber{ color: #342609; font-weight: 700;font-size: 18px;font-family: Lato,sans-serif;}

/* menubar */
.menuholder{width:50px;height:30px;float:right;margin:25px 15px 0 0;}
.menu{height:22px;width:50px;}
.linebar {border-radius: 2px;height:4px;width:40px;background-color:#342609;}
.linebar:nth-child(1) {margin-bottom:5px;transition: .5s;}
.linebar:nth-child(2) {margin-bottom:5px;transition: .5s;}
.linebar:nth-child(3) {transition: .5s;}
.menuon{height:30px;width:40px;}
.menuon>.linebar {margin-left:-5px;margin-right:-10px;}
.menuon>.linebar:nth-child(1) {transform: rotate(130deg);margin-top:13px;margin-bottom:-5px;}
.menuon>.linebar:nth-child(2) {opacity: 0;}
.menuon>.linebar:nth-child(3) {transform: rotate(-130deg);margin-top:-8px;}

/* navigation */
.nav {border:0; overflow:hidden; height:;width:100%; background-color:#342609; position:sticky; top:0; position: -webkit-sticky; z-index:999;}
.nav>ul {list-style-type:none; margin:0; padding:0; overflow:hidden; width:425px;margin:auto;}
.nav>ul>li {float:left;  display:block; }
.nav a {padding:10px 12px; display:block; background-color:#342609;position: relative;z-index:2;overflow:hidden;color:white;text-decoration:none;}
.nav a::after {position: absolute; content: ''; top:0; left: 50%; width: 0;  height: 100%;  background-color:#FBA90A; transform-origin:center;  transition:0.25s ease;  z-index:-1;}
.nav a:hover::after {width:100%;left:0;}
.nav .active {background-color:#FBA90A;}
.dropdown {float:left;}
.dropdown-content {display:none;position:absolute;min-width:150px;top:122px;z-index:3;}
@media only screen and (min-width:768px) {.dropdown:hover .dropdown-content {display:block;} }
@media only screen and (max-width:768px) {
.nav>ul>li {float:none;}
.dropdown-content {top:82px;}
}
#toggle {width:50px; height:30px; margin-top:3px; overflow:hidden;}
.a {display:none;}
.b {display:block;}
.arrowimg1 {margin-top:-74px;margin-left:5px;}
.arrowimg2 {margin-top:4px;margin-left:5px;}
@media only screen and (max-width:768px) {
.nav, .nav a {background-color:#342609;}
.nav .active {background-color:#FBA90A;}
.hide {display:none;}
.show {display:block;}
.dropdown-content {top:199px;}
.nav>ul {width:300px;}
}

/* FOOTER */
.bottomfooter {background-color:#342609;width:100%;text-align:center;color:#e0e0e0;height:80px; overflow:hidden;}
.bottomfooter li{display:inline;}
.bottomfooter ul{padding:25px 0 20px 0;}


/* social */
.sm {height:55px; width:55px;}
.sm:hover {width:60px;margin-left:-3px;}

.section_button {width:400px; border:; overflow:hidden; margin:auto;height:25px;}
.button {background-color:purple; height:23px; width:23%; color:white;border-radius:8px; margin:0px 1px; text-align:center; float:left; text-decoration:none; padding:1px;}
.button:hover {background-color:#663399;}
@media only screen and (max-width:600px) {.section_button {width:100%;}}

.section9 {border:0; height:; padding-top:10px; background-color:#FEF3DC; overflow:hidden;}

.logofooter {display:block; width:250px; height:150px; margin:auto;}
.logofooter2 {display:block; max-height:100px; width:100%; max-width:500px; margin:auto;}



